code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
  background-image: linear-gradient(to right, darkgray , rgba(0,0,0,0)), url('https://images.pexels.com/photos/2404843/pexels-photo-2404843.jpeg?cs=srgb&dl=architecture-buildings-city-2404843.jpg&fm=jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header{
  text-align: center;
}

.footerBox{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}